#login_main {
    position: absolute; 
    height: 100vh; 
    width: 100vw;
    margin: 0; 
    padding: 0; 
    background-color: #8f9cff;
    display: flex;
    align-items: center;
    justify-content:flex-start;
}

#login_path_holder {
    height: 100%; 
    width: 20%; 
    background-color: #eee3fc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#login_path_holder h1 {
    margin-bottom: 4rem; 
}